<section class="py-5">
    <h1 class="display-4">
        Thanks for Donating {{amount}}
    </h1>
    <p class="lead">
        Your book will be delivered within 7 days
    </p>
    <a href="/" class="btn btn-danger">Go back</a>
</section>